@font-face {
  font-family: "iconfont"; /* Project id 4552826 */
  src: url('iconfont.woff2') format('woff2'),
       url('iconfont.woff') format('woff'),
       url('iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenjianjia:before {
  content: "\e600";
}

.icon-gallery:before {
  content: "\e613";
}

.icon-biaoqingbao:before {
  content: "\e657";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-dynamic:before {
  content: "\e607";
}

.icon-article:before {
  content: "\e61b";
  margin-right: 10px;
}

.icon-fenxiang:before {
  content: "\e620";
}

.icon-tuku:before {
  content: "\e643";
}

.icon-TV:before {
  content: "\e6ad";
}

.icon-24px:before {
  content: "\e604";
}

.icon-shipindianshi:before {
  content: "\e6ca";
}

.icon-yinle-leku:before {
  content: "\e820";
}

.icon-hot:before {
  content: "\e631";
  color: #FF5252;
  margin-right: 10px;
}

.icon-download_box:before {
  content: "\e6b9";
}

