<p id="message-box" class="bdd-content-15 bbp-rights text-white font-Alimom"></p>
<div class="footer-main">
  <div class="flex bdd-flex-center-container footer-info-box">
    <img src="{BASE}/static/img/logo.png" width="254" height="70" class="inline" alt="BlanklyDB">
    <p class="bdd-content-13 text-white font-Alimom-blod footer-desc">BlanklyDB是非盈利网站,旨在降低猫猫粉丝寻找、查阅 动态、视频、图文 等资源所耗费的大量时间精力。当您访问的内容在大陆地区可用时，该网站将优先将您重定向到内容所在地，以提供更快的访问速度。</p>
    <div class="bdd-content-13" id="footer_menu">
      <ul class="footer-menu-col">
        <li class="footer-menu-title">有趣的内容</li>
        <li><hr></li>
        <li><a href="#">视频</a></li>
        <li><a href="#">图片</a></li>
        <li><a href="#">动态（文图）</a></li>
        <li><a href="#">漫画</a></li>
        <li><a href="{BASE}/viewer/stickers.html">表情包</a></li>
        <li><a href="#">音频</a></li>
        <li><a href="#">创作者们</a></li>
        <li><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2573685490">动态壁纸（WPE）</a></li>
        <li><a href="https://live.bilibili.com/1301450">直播间</a></li>
      </ul>
      <ul class="footer-menu-col">
        <li class="footer-menu-title">数据服务</li>
        <li><hr></li>
        <li><a href="#">统计</a></li>
        <li><a href="#">报表</a></li>
        <li><a href="#">导出（Lab）</a></li>
        <li><a href="#">数据库</a></li>
      </ul>
      <ul class="footer-menu-col">
        <li class="footer-menu-title">关于</li>
        <li><hr></li>
        <li><a href="#">关于</a></li>
        <li><a href="#">STAFF（斯大福？）</a></li>
        <li><a href="#">站点教程</a></li>
        <li><a href="#">站点地图</a></li>
      </ul>
      <ul class="footer-menu-col">
        <li class="footer-menu-title">其他</li>
        <li><hr></li>
        <li><a href="#">API Doc</a></li>
        <li><a href="https://github.com/BlanklyDB-Project">开源仓库（Github）</a></li>
        <li><a href="#">私有Git仓库</a></li>
        <li><hr></li>
        <li class="footer-menu-title">其他访问方式</li>
        <li><a href="#">Telnet</a></li>
        <li><a href="#">FTP</a></li>
        <li><hr></li>
        <li class="footer-menu-title">网都没有？</li>
        <li><a href="#">通过邮政访问？</a></li>
        <li><a href="{BASE}/arbdb.html">AR-BDB</a></li>
      </ul>
    </div>
  </div>
</div>
<p class="bdd-content-15 bbp-rights bg-blankly-gold-deep text-white font-Alimom" id="f_text">BiliBili：酸酪QwQ | QQ：3284316248 | E-mail：serrer6@outlook.com</p>
<p class="bdd-content-15 bbp-rights bg-blankly-gold-deep text-white font-Alimom">By ❤️. Powered by 酸酪qwq.具体内容归其创作者所有，无特殊说明下采用 CC BY-NC-ND 4.0授权</p>
