@font-face {
    font-family: Alimom;
    src: url("./fonts/AlimamaFangYuanTiVF.ttf");
}

.font-Alimom{
    font-family: Alimom;
}

.font-Alimom-blod{
    font-family: Alimom;
    font-variation-settings:"wght" 500,"bevl" 1;
}
